/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 18px;
  }
/* header def */
header {
  display: flex;
  position: fixed;
  background-color: white;
  color: black;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid red;
  z-index: 2;
}
.hdr-mobile {
  display: none;
}
.company {
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo {
  height: 2rem;
  left: 0;
  width: auto;
}
.word1 {
  font-weight: bolder;
}
.word2 {
  color: gray;
}
.hdr-nav {
  padding-right: 24px;
}
.hdr-nav span a {
  text-decoration: none;
  color: #4a4a4a;
  padding-right: 0.2rem;
}
@media only screen and (max-width: 980px) {
.company {
    display: none;
  }
.hdr-nav {
    display: none;
  }
.hdr-mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
 }
}

.intro-top {
  position: relative;
  padding-top: 64px;
  display: flex;
  width: 100%;
  background-color: lightgray;
  border: 2px solid blue;
}
.intro {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 32px;
  background-color: lightgray;
  border: 2px solid blue;
}
.intro-white {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 32px;
  background-color: white;
  border: 2px solid blue;
}
.intro-rt {
  width: 60%;
  padding: 0px 24px 32px 24px;
}
.intro-pic {
  height: auto;

  border: 2px dashed red;
}
.pic1 {
  width: 100%;
}
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 2rem;
}
.learn.mid-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 2rem;
}
.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width:80%;  /*300px;*/
  background-color: #505050;
  color: white;
  text-align: center;

}
@media only screen and (max-width: 980px) {
  .intro-top {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  padding-left: 16px;
  }
  .intro-rt {
    width: 100%;

/*    padding: 0px 24px 32px 24px;*/
  }
}
.it-doesnt {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.5rem;
  font-weight: bold;
}
.small-latin {
  font-size: 0.80rem;
}
.strategist {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 32px 0 32px 0;
}
.col2 {
  display flex;
  flex-direction: column;
  width: 40%;
  border: 3px solid green;
/*  padding: 32px 0 32px 0;*/
}
.col2-item-type1 {
  position: relative;
  display: flex;
  flex-direction: row;
/*  height: auto;*/
  background-color: white;
/*  height: 33%;*/
}
.col2-item-type2 {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;

}
.col2-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col2-image {
  width: 35%;
  height: 100%;
  padding: 16px;
/*  height: auto;*/
}
.subject {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 8px;

}
.note {
  font-size: 0.8rem;
  line-height: 1.4;
  padding-bottom: 8px;
}
.readmore {
  font-size: 0.8rem;
}
@media only screen and (max-width: 980px) {
  .intro-top {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;

  }
  .intro-rt {
    display: none;
/*    padding: 0px 24px 32px 24px;*/
  }
  .col2 {
    width: 100%;
    height: min-content;
  }
  .col2-item-type1 {
    position: relative;
    flex-direction: column;
    max-height: 392px;
    padding: 16px;
  /*  height: auto;*/
    background-color: white;
    height: 33%;
  }
  .col2-item-type2 {
    position: relative;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    max-height: 392px;
    height: 33%;
  }
  .col2-image {
    display: inline-block;
    width: 100%;
    max-height: 50%;
    overflow-y: hidden;
    padding: 16px;

  }
}
.intro-cols {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 32px;
  background-color: lightgray;
  border: 2px solid blue;
}
.start {
  padding-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
/*  align-content: center;
  justify-content: center;*/
}


.threecols {
/*  position: relative;
  width: 100%;*/
  display: flex;
  flex-direction: row;
  padding-left: 56px;
  padding-right: 56px;
  padding-bottom: 32px;
  border: 2px solid red;
}
.onethirdtcol {
  width: 33%;
  padding: 16px;
/*  background-color: yellow;*/
}
.third-image {
  width: 100%;
}
.start-data-title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 16px;
  padding-left: 16px;
}
.start-data-courses {
  font-size: 1rem;
  color: grey;
  padding-top: 8px;
  padding-left: 16px;

}
.start-data-info {
  font-size: 1rem;
  color: grey;
  padding-top: 8px;
  padding-left: 16px;

}
.intro-thesis {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border: 2px solid blue;
}
.twocols {
  display: flex;
  flex-direction: row;

}
.thesis {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
/*  align-content: center;
  justify-content: center;*/
}
.foot {
  display: flex;
/*  padding-left: 24px;*/
  padding: 16px 24px;
  font-size: 0.9rem;
  justify-content: space-between;
}
