/* style.css */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 18px;
  }
/* header def */
header {
  display: flex;
  position: fixed;
  background-color: white;
  color: black;
  height: 64px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
/*  border-bottom: 2px solid red; */
  z-index: 2;
}
.hdr-mobile {
  display: none;
}
.company {
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.logo {
  height: 2rem;
  left: 0;
  width: auto;
}
.word1 {
  font-weight: bolder;
}
.word2 {
  color: gray;
}
.hdr-nav {
  padding-right: 24px;
}
.hdr-nav span a {
  text-decoration: none;
  color: #4a4a4a;
  padding-right: 0.2rem;
}
.hdr-nav span a:hover {
  font-weight: bolder;
  color: green;
 }
@media only screen and (max-width: 600px) {
.company {
    display: none;
  }
.hdr-nav {
    display: none;
  }
.hdr-mobile {
  width: 100%;
  display: flex;
  justify-content: space-around;
 }
}

/* learn something new every day..*/
.intro-section {
  background-color: lightgray;
  padding-bottom: 32px;
}
.intro-top {
  position: relative;
  padding-top: 64px;
  display: flex;
  width: 100%;
  background-color: lightgray;
/*  border: 2px solid blue;*/
}
.intro {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 32px;
  background-color: lightgray;
/*  border: 2px solid blue; */
}
.intro-white {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 32px;
  background-color: white;
/*  border: 2px solid blue; */
}
.intro-top-rt {
  width: 60%;
  padding: 0px 24px 32px 24px;
}
.intro-pic {
  height: auto;

/*  border: 2px dashed red; */
}
.pic1 {
  width: 100%;
}
.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-text {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  padding-bottom: 2rem;
}
.learn.mid-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 2rem;
}
.btn {
  padding-top: 8px;
  padding-bottom: 8px;
  width:80%;  /*300px;*/
  background-color: #505050;
  color: white;
  text-align: center;

}
.btn:hover {
  background-color: blue;
}
@media only screen and (max-width: 600px) {
  .intro {
    flex-direction: column;
  }
  .intro-top {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 16px;
  }
  .intro-top-rt {
    width: 100%;

/*    padding: 0px 24px 32px 24px;*/
  }
  .learn {
    padding-bottom: 32px;
  }
}
/* it doesn't hurt to keep practicing...*/
.intro-rt {
  width: 60%;
  padding: 0px 24px 32px 24px;
}
.it-doesnt {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.5rem;
  font-weight: bold;
}
.small-latin {
  font-size: 0.80rem;
}
.strategist {
  font-size: 0.7rem;
  font-weight: bold;
  padding: 32px 0 32px 0;
}
.col2 {
  display flex;
  flex-direction: column;
  width: 40%;
  border-bottom: 1px solid lightgray;
/*  border: 3px solid green; */
/*  padding: 32px 0 32px 0;*/
}
.col2-image-mobil {
  display: none;
}
.col2-item-type1 {
  position: relative;
  display: flex;
  flex-direction: row;
/*  height: auto;*/
  background-color: white;
/*  height: 33%;*/
}
.col2-item-type2 {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;

}
.col2-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col2-image {
  width: 35%;
  height: 100%;
  padding: 16px;
/*  height: auto;*/
}
.subject {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 8px;

}
.note {
  font-size: 0.8rem;
  line-height: 1.4;
  padding-bottom: 8px;
}
.readmore {
  font-size: 0.8rem;
}
.readmore a {
  text-decoration: none;
  color: blue;
}
.readmore:hover {
  font-style: italic;
  font-weight: bolder;

}
@media only screen and (max-width: 600px) {
  .intro-top {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;

  }
  .intro-rt {
    display: none;
/*    padding: 0px 24px 32px 24px;*/
  }
  .col2 {
    width: 100%;
    height: min-content;
  }
  .col2-image {
    display: none;
  }
  .col2-image-mobil {
    display: inline-block;
    width: 100%;
    overflow-y: hidden;
    padding-right: 16px;

  }
  .col2-data {
    padding-top: 16px;
  }
  .col2-item-type1 {
    position: relative;
    flex-direction: column;
    max-height: 392px;
    padding: 16px;
  /*  height: auto;*/
    background-color: white;
    height: 33%;
  }
  .col2-item-type2 {
    position: relative;
    flex-direction: column;
    padding: 16px;
    background-color: white;
    max-height: 392px;
    height: 33%;
  }
  /*.col2-image {
    display: inline-block;
    width: 100%;
    max-height: 50%;
    overflow-y: hidden;
    padding: 16px;

  }*/
}
/* start learning */
.start-learning-stack {
  display: none;
}
.intro-cols {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
/*  padding-top: 32px; */
  background-color: lightgray;
/*  border: 2px solid blue; */
}
.start {
  padding-bottom: 32px;
  padding-top: 32px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  background-color: lightgray;

/*  align-content: center;
  justify-content: center;*/
}
.threecols {
/*  position: relative;
  width: 100%;*/
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 56px;
  margin-right: 56px;
  padding-bottom: 32px;
/*  border: 2px solid red; */
}
.onethirdtcol {
  width: 33%;
  padding: 16px;
/*  background-color: yellow;*/
}
.third-image {
  width: 100%;
}
.start-data-title {
  font-size: 1.2rem;
  font-weight: bolder;
  padding-top: 16px;
  padding-left: 16px;
}
.start-data-courses {
  font-size: 1rem;
  color: grey;
  padding-top: 8px;
  padding-left: 16px;

}
.start-data-info {
  font-size: 1rem;
  color: grey;
  padding-top: 8px;
  padding-left: 16px;

}

@media only screen and (max-width: 600px) {
 .intro-cols {
   display: none;
 }
 .start {
   background-color: white;

 }
 .intro-section {
   background-color: lightgray;
   padding-bottom: 0;
 }
 .start-learning-stack {
   display: flex;
   flex-direction: column;
    padding-bottom: 24px;
   border-bottom: 1px solid lightgray;
/*   background-color: lightgray;*/

 }
 .start-learning-stack li {
   padding-top: 16px;
   padding-bottom: 24px;
   margin-left: 16px;
   margin-right: 16px;
   margin-bottom: 8px;
   padding-left: 16px;
   background-color: lightgray;
 }
}
/* thesis */
.intro-left {
  width: 60%;
  padding: 0px 24px 32px 24px;
}
.thesis {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
/*  border: 2px solid blue; */
}
.thesis-title {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.video-mobile {
  display: none;
}
.twocols {
  position: relative;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .video-mobile {
    display: block;
  }
  .twocols {
    display: none;
  }
}
/* footer */
.foot {
  display: flex;
/*  padding-left: 24px;*/
  padding: 16px 24px;
  font-size: 0.9rem;
  justify-content: space-between;
  border-top: 1px solid lightgray;
}
@media only screen and (max-width: 600px) {
  .footer-end-text {
    display: none;
  }
}
